.footer-root {
    padding: 10px 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #dfd5d5;
    z-index: 1000;
}

.footer-text {
    color: rgb(57, 36, 174);
    text-align: center;
    margin: 0;
}
